// Шаблон Stylus-стилей v2


// --------------------- //
// 		  Colors:		 //
// --------------------- // 

bg-1 = gray
bg-2 = lightgray
bg-3 = rgb(240, 240, 240)

col-1 = yellow
col-2 = gray
col-3 = blue 
my-orange = #ff9900
bg-yel = #ffd600
bg-blue = #00a3ff

// Подборка цветов:

color1 = #197de0;
color2 = rgb(14, 182, 204);
color3 = #5d33da;
//color4 = #07f36a;
color4 = #38ec0f;
color5 = #e9e51f;
color6 = #ecbc0c;
color7 = #e24916;
color8 = #ec34be;
color9 = #a619da;

bord() // Для отладки
	border solid black 1px

// Основные настройки:

html
	text-align: center
	p
		padding: 10px
		font-size: larger;

body
	background-color: bg-3

// --------------------- //
// 		   Image:		 //
// --------------------- // 

img
	align middle 
	width 200px
	height 200px
	margin 10px
	border-radius: 7px
	box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5)

// --------------------- //
// 		  Footer:		 //
// --------------------- // 

.page-footer 
	padding: 1rem;
	background: #333;
	color: #fff;
	text-align: center;

footer
	width: 100%
	background-color: #333;
	padding: 20px
	margin-top: auto;
	// position: fixed;
	// bottom: 0;
	// left: 0;
	p
		padding: 0px
		font-size: 19
		color: #fff;
		text-align: center;
	a:hover
		color: #2f0dec;
		text-decoration: none
	a:active
		color: #7a00cc;

// --------------------- //
// 		  Header:		 //
// --------------------- // 

header
	width: 100%
	height: 110px
	// background-color: rgb(184, 184, 184)
	//background-color: rgb(117, 117, 117)
	//border-radius 0px 0px 20px 20px
	// background-image: href="img/Header_Photo/B (1).jpeg"
	position: relative;
	overflow: hidden; 
	//background-size: cover;
	//background-size: 100%
	//background-color: rgba(255, 255, 255, 0.2);



// .bg-fone-header
// 	background-image: url("img/Header_Photo/B (1).jpeg");
// 	filter: blur(5px);

// 1, 7, 9, 11, 15, 16
// 7 9 10 15 16 17 20 

header::before 
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-image: url("img/Header_Photo/B (1).jpg");
	background-position: center;
	background-size: cover;
	//background-color: rgba(255, 255, 255, 0.1);
	filter: blur(3px);
	z-index: -1; /* Это поместит фоновое изображение под содержимое блока */

.head-bottom-line
	width: 100%
	height: 15px
	background: linear-gradient(to right, #20f00d, #21d111);
	//background: linear-gradient(to right, #2dff1a, #21c012);

.bg1::before 
	background-image: url("img/Header_Photo/B (1).jpg");
.bg2::before 
	background-image: url("img/Header_Photo/B (2).jpg");
.bg3::before 
	background-image: url("img/Header_Photo/B (3).jpg");
.bg4::before 
	background-image: url("img/Header_Photo/B (4).jpg");
.bg5::before 
	background-image: url("img/Header_Photo/B (5).jpg");
.bg6::before 
	background-image: url("img/Header_Photo/B (6).jpg");
.bg7::before 
	background-image: url("img/Header_Photo/B (7).jpg");
.bg8::before 
	background-image: url("img/Header_Photo/B (8).jpg");
.bg9::before 
	background-image: url("img/Header_Photo/B (9).jpg");
.bg10::before 
	background-image: url("img/Header_Photo/B (10).jpg");
.bg11::before 
	background-image: url("img/Header_Photo/B (11).jpg");
.bg12::before 
	background-image: url("img/Header_Photo/B (12).jpg");
.bg13::before 
	background-image: url("img/Header_Photo/B (13).jpg");
.bg14::before 
	background-image: url("img/Header_Photo/B (14).jpg");
.bg15::before 
	background-image: url("img/Header_Photo/B (15).jpg");
.bg16::before 
	background-image: url("img/Header_Photo/B (16).jpg");
.bg17::before 
	background-image: url("img/Header_Photo/B (17).jpg");





.head-title
	p
		font-size: 35px
		color: white
		font-weight: bold
		//color black
		text-align: center
		margin: 10px
		padding-top 15px
		//border: 1px solid black;
		//text-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5)
		text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
		//border: 2px solid black; /* Это добавит черную границу вокруг текста */
		//padding: 10px;

// Конкретно этот код делает хедер с отступами и закруглёнными углами:
header
	margin-top: 10px
	width: calc(100vw - 15px)
	border-radius: 10px
	.head-bottom-line
		border-radius: 0px 0px 10px 10px
		margin-top 13px

	.head-title
		p
			padding-top 9px

	
// --------------------- //
// 		   Body:		 //
// --------------------- // 

body
	//bord()
	margin: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	//height: 100vh;
	flex-direction: column;
	min-height: 100vh;

// -------------------------------------- //
// 		 Основной родительский блок:	  //
// -------------------------------------- // 

.main-body
	//bord()
	background-color: bg-3
	width: 90%
	height: auto
	margin: 20px
	border-radius: 15px
	margin-top: 17px
	// display: flex;
	// justify-content: center;
	// flex-direction: column;
	//align-items: center;

// Широкие экраны (десктоп)
@media (min-width: 950px) 
	.main-body
		width: 870px
		//color red

// ------------------------------ //
// 		 Блоки внутри него:	      //
// ------------------------------ // 

.center-orient
	width: calc(100% - 15px);
	height calc(100% - 15px);
	//margin-left: 5px

.descr-qu-1, .block-qu      // <-- Вот здесь также стили для обычного блока
	text-align: center
	background-color: white
	border-radius: 15px
	width: 100%
	height 100%
	p
		padding: 20px
		font-size: larger;

// ------------------------------ //
// 	     1й блок - описание:      //
// ------------------------------ // 

.descr-qu-1-grad
	//background: linear-gradient(to bottom left, #00D9FF, #0066FF);
	background: linear-gradient(to bottom left, #00aeff, #2078fc);

	width: 100%
	height: 250px
	margin-bottom: 25px
	border-radius: 19px

	display: flex;
	justify-content: center;
	align-items: center;

.descr-qu-1
	//position: relative;
	width: calc(100% - 15px);
	height: calc(100% - 15px);
	p	
		padding: 3px
		margin 0px
	//p, div
		//bord()
	.pp1
		padding-top 10px
		padding-bottom 3px
	.pp3
		padding-top 40px

//.block-qu-1

.butt-start	
	//position: absolute;
	//bottom: 20px;
	// background color4
	background white
	width 300px
	height 50px
	border-radius: 10px
	margin: auto
	margin-top: 20px
	//width 50%
	//bord()
	//border none
	//border solid 3px white
	// border solid 4px #20f00d
	border dashed 2px black
	font-style: italic
	p
		height 50px
		padding: 0px
		padding-top: 6px
		//font-weight: bold



// .butt-start:hover
// 	filter: brightness(135%);
// 	border solid 3px rgb(32, 32, 32)

// .butt-start:active
// 	//filter: invert(100%);
// 	//bord()
// 	font-weight: bold
// 	//font-style: italic	
// 	//letter-spacing: -0.05em 

.butt-start:hover
	font-style: italic
	border solid 3px #20f00d

.butt-start:active
	background #20f00d
	font-weight: bold

// .butt-start:hover
// 	//border none
// .butt-start:active
// 	border none

// ------------------------------------- //
// 		 Стили для обычного блока:	     //
// ------------------------------------- // 

// Нужно создать макет блока с вопросом
// И сделать все блоки, верно их промаркировав

// Затем перенести в JS логику их появления
// Там пописать обработку нажатия на кнопки

.block-qu
	height auto
	display: grid;
	//grid-template-columns: 1fr 1fr;
	grid-template-rows: auto auto
	justify-items: center;
	align-items: center;
	position: relative;
	margin-bottom 25px

#block-a-2-butt
	display: grid
	grid-template-columns: 2fr 3fr

.butt-bar // Блок для кнопок
	grid-row: 2;
	//bord()
	display: grid;
	width 90%
	height auto
	margin-bottom: 25px

.butt-answ // Стили для всех кнопок
	//box-sizing: border-box;
	//box-sizing: content-box;
	//border solid yellow 1px
	border-radius: 10px
	margin: 0px 30px
	padding: 0px
	background color4
	border 3px white solid

	display: flex;
	justify-content: center;
	align-items: center;

	p
		margin: 10px
		padding: 0px

.butt-answ:hover
	filter: brightness(135%);

.butt-answ:active
	font-weight: bold
	border solid 3px rgb(32, 32, 32)
	letter-spacing: -0.05em 

.butt-answ.active	// Стиль для JS
	font-weight: bold;
	border: solid 3px rgb(32, 32, 32);
	letter-spacing: -0.05em;



.butt-answ
	input
		width 90%
		border-radius: 5px
		margin 12px
		padding 3px 10px
		text-align: center
		font-size: 20px
		//font-weight: bold

.input-butt
	display: grid
	grid-template-rows: auto auto
	justify-items: center;
	align-items: center;
	p
		margin 0px
		margin-top 8px
		padding 0px

// Блоки для отвтеов
.answ-block-1
	grid-column: 1;

.answ-block-2
	grid-column: 2;

.answ-block-3
	grid-column: 3;


// Расположение блоков, если ответов 4
.answ-block-1-s
	grid-column: 1;
	grid-row: 1

.answ-block-2-s
	grid-column: 1;
	grid-row: 2

.answ-block-3-s
	grid-column: 2;
	grid-row: 1

.answ-block-4-s
	grid-column: 2;
	grid-row: 2


.letter-abbr
	color: gray
	position: absolute;
	top: -10;
	left: 0;
	
// Тестово устанавливаю цвета для кнопочек:

#block-a
	.butt-answ
		background color4

#block-a-1
	.butt-answ
		background color5

#block-a-2
	.butt-answ
		background color6

#block-a-2-1
	.butt-answ
		background color7

// #block-a-2-1
// 	display none

// #block-a-2
// 	display none

// #block-a-1
// 	display none

// #block-a
// 	display none

// ----------------------------- //
// 		 Кнопки навигации:	     //
// ----------------------------- // 

.nav-button
	width 100%

// Обязательно прописать стили для узких экранов

// Широкие экраны (десктоп)
@media (min-width: 950px) 
	.nav-button
		width: 871px

.nav-button
	height 65px
	display: grid;
	grid-template-columns: 1fr 1fr;
	justify-items: center;
	align-items: center;
	//grid-template-columns: auto auto;
	//bord()
	margin-top: 15px
	//padding auto 10px

.butt-info, .butt-all-pants
	font-style: italic;
	// width 200px
	// height 55px
	width 95%
	height 80%
	border-radius: 10px
	background white
	border solid 4px bg-3
	p
		font-size: 17px
		text-align: center
		//bord()
		//height 100%
		margin-top 2px

.butt-info:hover, .butt-all-pants:hover
	letter-spacing: 0.025em;
	//font-style: italic;

.butt-info:hover
	border solid 4px #2078fc

.butt-all-pants:hover
	font-weight: bold
	border solid 4px #20f00d

.butt-info 	
	justify-self: start
	
.butt-info:active
	background #2078fc

.butt-all-pants:active
	background #20f00d

.butt-all-pants 
	justify-self: end
	
.sss
	font-style: normal
	font-weight: none
	display: inline
	margin 0px
	padding 0px