html 
  head
    include headCode
    //script(src="js/bgTestIteration.js")
    
    header 
      div.bg-fone-header
      div.head-title
        p Подбор растений для дома
      div.nav-button
      div.head-bottom-line

  body 

    //.asd1
      .h1 
        a(href="Page_03.html") Галерея мультсериалов
      .h2 
        a(href="Page_02.html") Список мультсериалов
    
    // Тут будут все элементы с вопросами
    .main-body 
      .descr-qu-1-grad
        .descr-qu-1
          p.pp1 Этот инструмент подберёт для вас <b>самое <i>лучшее</i> растение</b>
          p Вам нужно будет ответить всего на <u><i>несколько</i></u> вопросов
          p.pp3 Ну что, вы готовы <b>начинать?</b> 🚀
          div.butt-start
            p Запустить 
      .block-qu-1
        p Обычный блок, с вопросом

  footer 
    p made by 
      a(href = 'https://vk.com/gog.ortey') Gogik Ortey