html 
  head
    include headCode
    //script(src="js/bgTestIteration.js")
    
    header 
      div.bg-fone-header
      div.head-title
        p Подбор растений для дома
      
      div.head-bottom-line

  body 
    .nav-button
      .butt-info 
        //p.sss ℹ️ 
        p Информация о проекте и его создателях
      .butt-all-pants
        //p.sss🪴 
        p Все растения

    //.asd1
      .h1 
        a(href="Page_03.html") Галерея мультсериалов
      .h2 
        a(href="Page_02.html") Список мультсериалов
    
    // Тут будут все элементы с вопросами
    .main-body 
      .descr-qu-1-grad
        .descr-qu-1
          p.pp1 Этот инструмент подберёт для вас <b>самое <i>лучшее</i> растение</b>
          p Вам нужно будет ответить всего на <u><i>несколько</i></u> вопросов
          p.pp3 Ну что, вы готовы <b>начинать?</b> 🚀
          div.butt-start
            p Запустить 
      .block-qu#block-a
        p.qu-answ Вы будете выращивать растения дома, или на улице?
        p.letter-abbr a
        .butt-bar
          .butt-answ.answ-block-1
            p Дома
          .butt-answ.answ-block-2
            p На улице
      .block-qu#block-a-1
        p.qu-answ Какая наименьшая температура бывает в вашем регионе?
        p.letter-abbr a-1
        .butt-bar
          .butt-answ.answ-block-1
            p [Поле ввода]
          .butt-answ.answ-block-2
            p Не имеет значения, так как я планирую выращивать растения летом
      .block-qu#block-a-2
        p.qu-answ Какая средняя температура в вашем доме?
        p.letter-abbr a-2
        .butt-bar
          .butt-answ.answ-block-1
            p [Поле ввода]
      .block-qu#block-a-2-1
        p.qu-answ Какая примерная влажность в вашем доме?
        p.letter-abbr a-2-1
        .butt-bar
          .butt-answ.answ-block-1-s
            p [Поле ввода]
          .butt-answ.answ-block-2-s
            p Сухо
          .butt-answ.answ-block-3-s
            p Влажно
          .butt-answ.answ-block-4-s
            p Умеренная влажность

  footer 
    p made by 
      a(href = 'https://vk.com/gog.ortey') Gogik Ortey