html 
  head
    include headCode
    title Все растения
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js")
    //script(src="js/mainTerminal.js")
    script(src="js/page-3-script.js")

    header 
      div.bg-fone-header
      div.head-title
        p Подбор растений для дома
      
      div.head-bottom-line

  body 
    .simple-text-block.obozn-1
      p.ssrr Описание обозначений:
      span Климат: 
      img(src="img/smile/Trop.png")
      span - Тропический,
      img(src="img/smile/Subtr.png")
      span - Субтропический,
      img(src="img/smile/Um.png")
      span - Умеренный
      
      div
      span __ ℃
      img(src="img/smile/LT.png")
      span - Любимая температура, 
      img(src="img/smile/MT.png")
      span - Минимальная температура

      div
      span Влажность:
      img(src="img/smile/Hum1.png")
      span - Низкая,
      img(src="img/smile/Hum2.png")
      span - Средняя,
      img(src="img/smile/Hum3.png")
      span - Высокая

      div
      span Любит ли солнце:
      img(src="img/smile/Sun1.png")
      span - Да,
      img(src="img/smile/Sun2.png")
      span - Средне,
      img(src="img/smile/Sun3.png")
      span - Не любит

      div
      span Плодоносное?
      img(src="img/smile/PlodY.png")
      span - Да,
      img(src="img/smile/PlodN.png")
      span - Нет

      div
      span Сколько дней выдержит без полива? __ дн.
      img(src="img/smile/Pol.png")

      div
      span Как много кислорода вырабатывает? [от 1 до 10]
      img(src="img/smile/O2.png")

      div
      img(src="img/smile/Home.png")
      span - Домашнее,
      img(src="img/smile/Outs.png")
      span - Уличное

      div
      span Если Аллелопатия отрицательная:
      img(src="img/smile/All.png")

      .add-info-2
        span i
        //.dfrd

      p.ssrr Ну что, во всём разобрались? Тогда поехали!)

    //- .simple-text-block 
    //-   .block-request  
    //-     .req 
    //-       p Текст запроса: 
    //-     .answ 
    //-       p Ответ БД
    //-   .load-req 
    //-     span Загрузить все растения
    .card-holder 
      .card1
        .name 
          span Фикус каучуконосный (эластичный)
        .other 
          //- img(src="img/all-plants-photo/Растение Аспарагус.jpg")
          img(src="img/all-plants-photo/Растение Агапантус.jpg")
          .haract 
            .klimat 
              span Климат: 
              img(src="img/smile/Subtr.png")
            .other-har 
              div.dsa
                img(src="img/smile/LT.png")
                span 22℃                
              div.dsa
                img(src="img/smile/MT.png")
                span 22℃                
              div.dsa
                img(src="img/smile/Pol.png")
                span 14  
              div.dsa
                img(src="img/smile/O2.png")
                span 7  
              img(src="img/smile/Sun2.png")
              img(src="img/smile/PlodN.png")
              img(src="img/smile/Hum2.png")
              img(src="img/smile/Outs.png")
              img(src="img/smile/All.png")



      //- .card
      //-   img(src="img/all-plants-photo/Растение Аспарагус.jpg")
      //-   .haract
      //-     .hhh1
      //-       span Название растения
      //-       span Климат: 
      //-     .hhh2
      //-       span ЛТ 
      //-       span МТ 
      //-       span Вл 
      //-       span ЛС 
      //-       span Алл 
      //-       span Полд 
      //-       span Кс 
      //-       span Ул 
      //- .card
      //-   img(src="img/all-plants-photo/Растение Аспарагус.jpg")
      //-   span Название растения
      //- .card
      //-   img(src="img/all-plants-photo/Растение Аспарагус.jpg")
      //-   span Название растения
      //- .card
      //-   img(src="img/all-plants-photo/Растение Аспарагус.jpg")
      //-   span Название растения
      //- .card
      //-   img(src="img/all-plants-photo/Растение Аспарагус.jpg")
      //-   span Название растения
      //- .card
      //-   img(src="img/all-plants-photo/Растение Аспарагус.jpg")
      //-   span Название растения
      //- .card
      //-   img(src="img/all-plants-photo/Растение Аспарагус.jpg")
      //-   span Название растения
      //- .card
      //-   img(src="img/all-plants-photo/Растение Аспарагус.jpg")
      //-   span Название растения
      //- .card
      //-   img(src="img/all-plants-photo/Растение Аспарагус.jpg")
      //-   span Название растения

      
      

    .go-back-to-main 
      span На главную
    
  footer 
    p 
      a(href = 'page_2.html') Кто автор проекта?