html 
  head
    include headCode
    title Все растения
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js")
    //script(src="js/mainTerminal.js")
    script(src="js/page-3-script.js")

    header 
      div.bg-fone-header
      div.head-title
        p Подбор растений для дома
      
      div.head-bottom-line

  body 
    .simple-text-block 
      p.gray-color-page-3 Тут пус то ...

    //- .simple-text-block 
    //-   .block-request  
    //-     .req 
    //-       p Текст запроса: 
    //-     .answ 
    //-       p Ответ БД
    //-   .load-req 
    //-     span Загрузить все растения
    .card-holder 
      .card1
        .name 
          span Фикус каучуконосный (эластичный)
        .other 
          //- img(src="img/all-plants-photo/Растение Аспарагус.jpg")
          img(src="img/all-plants-photo/Растение Агапантус.jpg")
          .haract 
            .klimat 
            .other-har 
              //- span ЛТ 
              //- span МТ 
              //- span Вл 
              //- span ЛС 
              //- span Алл
              //- span Пол
              //- span Кс 
              //- span Ул 


      //- .card
      //-   img(src="img/all-plants-photo/Растение Аспарагус.jpg")
      //-   .haract
      //-     .hhh1
      //-       span Название растения
      //-       span Климат: 
      //-     .hhh2
      //-       span ЛТ 
      //-       span МТ 
      //-       span Вл 
      //-       span ЛС 
      //-       span Алл 
      //-       span Полд 
      //-       span Кс 
      //-       span Ул 
      //- .card
      //-   img(src="img/all-plants-photo/Растение Аспарагус.jpg")
      //-   span Название растения
      //- .card
      //-   img(src="img/all-plants-photo/Растение Аспарагус.jpg")
      //-   span Название растения
      //- .card
      //-   img(src="img/all-plants-photo/Растение Аспарагус.jpg")
      //-   span Название растения
      //- .card
      //-   img(src="img/all-plants-photo/Растение Аспарагус.jpg")
      //-   span Название растения
      //- .card
      //-   img(src="img/all-plants-photo/Растение Аспарагус.jpg")
      //-   span Название растения
      //- .card
      //-   img(src="img/all-plants-photo/Растение Аспарагус.jpg")
      //-   span Название растения
      //- .card
      //-   img(src="img/all-plants-photo/Растение Аспарагус.jpg")
      //-   span Название растения
      //- .card
      //-   img(src="img/all-plants-photo/Растение Аспарагус.jpg")
      //-   span Название растения

      
      

    .go-back-to-main 
      span На главную
    
  footer 
    p 
      a(href = 'page_2.html') Кто автор проекта?