html 
  head
    include headCode
    title Все растения
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js")
    //script(src="js/mainTerminal.js")
    script(src="js/page-3-script.js")

    header 
      div.bg-fone-header
      div.head-title.hhhh2
        p Подбор растений для дома
      
      div.head-bottom-line

  body 
    .go-back-to-main#main-2
      span На главную

    .spsp.sp-23.sp-24
      span <i>Нажми на карточку, если хочешь узнать больше о растении</i>

    .card-holder
      //- .card
      //-   img(src="img/all-plants-photo/Растение Аспарагус.jpg")
      //-   span Псевдоэрантемум
      //- .card
      //-   img(src="img/all-plants-photo/Растение Аспарагус.jpg")
      //-   span Название растения
      //- .card
      //-   img(src="img/all-plants-photo/Растение Аспарагус.jpg")
      //-   span Название растения
      //- .card
      //-   img(src="img/all-plants-photo/Растение Аспарагус.jpg")
      //-   span Название растения
      //- .card
      //-   img(src="img/all-plants-photo/Растение Аспарагус.jpg")
      //-   span Название растения
      //- .card
      //-   img(src="img/all-plants-photo/Растение Аспарагус.jpg")
      //-   span Название растения
      //- .card
      //-   img(src="img/all-plants-photo/Растение Аспарагус.jpg")
      //-   span Название растения
      //- .card
      //-   img(src="img/all-plants-photo/Растение Аспарагус.jpg")
      //-   span Название растения
      //- .card
      //-   img(src="img/all-plants-photo/Растение Аспарагус.jpg")
      //-   span Название растения
      //- .card
      //-   img(src="img/all-plants-photo/Растение Аспарагус.jpg")
      //-   span Название растения
      //- .card
      //-   img(src="img/all-plants-photo/Растение Аспарагус.jpg")
      //-   span Название растения
      //- .card
      //-   img(src="img/all-plants-photo/Растение Аспарагус.jpg")
      //-   span Название растения
      //- .card
      //-   img(src="img/all-plants-photo/Растение Аспарагус.jpg")
      //-   span Название растения
      //- .card
      //-   img(src="img/all-plants-photo/Растение Аспарагус.jpg")
      //-   span Название растения

    .please-wait
      span Подождите...

    .load-more
      span Показать ещё

    .go-back-to-main#main-1 
      span На главную
    
  footer 
    p 
      a(href = 'page_2.html') Кто автор проекта?