html 
  head
    include headCode
    title Информация о проекте и его создателях
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js")
    //script(src="js/mainTerminal.js")
    script(src="js/page-2-script.js")

    header 
      div.bg-fone-header
      div.head-title.hhhh2
        p Подбор растений для дома
      
      div.head-bottom-line

  body 
    p.title-page2-01 Об этом проекте:
    .simple-text-block
      p Этот проект - курсовая работа по Проектной деятельности. Вот все, кто его делал:
        
      a(href='https://vk.com/rozavii', target="_blank").aa1 Кучапина Софья
      p.nhh  - <b>Дизайнер</b>
      p.ahh
    
      a(href='https://vk.com/gog.ortey', target="_blank").aa2 Орлов Георгий - 
      p.nhh#nhh2 <b>Менеджер проекта и разработчик</b>
      p.ahh
    
      a(href='https://vk.com/petroffphil', target="_blank").aa3 Петров Филипп
      p.nhh  - <b>Тестировщик</b>
      p.ahh
    
      a(href='https://vk.com/lrlnaromanova', target="_blank").aa4 Романова Ирина
      p.nhh  - <b>Аналитик данных</b>
      p.ahh
    
      a(href='https://vk.com/darovabanditi', target="_blank").aa5 Чащин Трофим
      p.nhh  - <b>Разработчик</b>
      p.ahh
    .simple-text-block 
      p На данном сайте, сначала пользователь вводит ответы, затем они преобразуются в нужный SQL-запрос, и отправляются на сервер, в БД
      p Затем, когда приходит ответ, они сортируются, и выводятся в виде карточек
    .simple-text-block 
      p Если вы хотите узнать больше об этом проекте - вы можете посетить его GitHub репозиторий:
      a(href="https://github.com/GogikOrtey/PRIS_Project", target="_blank") https://github.com/GogikOrtey/PRIS_Project
      p Там вы сможете найти все материалы данного проекта 
    
    .go-back-to-main 
      span На главную

  .some-height
  footer 
    p 
      p &#128522;
      //a(href = 'page_2.html') Кто автор проекта?